source https://api.nuget.org/v3/index.json

storage: none

nuget Fable.Remoting.Giraffe
nuget Feliz.DaisyUI
nuget Giraffe
nuget Microsoft.Data.SqlClient
nuget Npgsql
nuget Saturn
nuget FSharp.Core
nuget SqlHydra
nuget SqlHydra.Query
